# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# dotenv environment variables
.env
.env.*

# MyPy, Pyre, etc.
.mypy_cache/
.pyre/

# Mac OS
.DS_Store
